.darkblue-white {
    background: darkblue;
    color: white;
}
.container
{
    background-color: aquamarine;
}


.card-body
{
    background-color:rgb(31, 113, 60);
    height: 80px;
                   
}
